@import url(bootstrap.min.css);

body,
pre {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, sans-serif;
}
header {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}
header h1 {
  font-size: 100%;
  margin-top: 30px;
}
header h1 span {
  display: block;
}
header .language_url {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  header {
    text-align: center;
    padding: 0px 0px 10px;
  }
  header .language_url {
    display: block;
    padding: 10px 10px 0;
  }
  main h2 {
    padding: 10px 0 0;
  }
}
main {
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main h2 {
  font-size: 120%;
  text-shadow: 1px 1px 3px #999;
}
.search_condition {
  max-width: 555px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #F5E3DC;
}
pre {
  max-width: 555px;
  height: 385px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: #F5E3DC;
}
@media screen and (max-width: 767px) {
  .search_condition {
    width: 95%;
  }
  pre {
    width: 95%;
  }
}
hr {
  border-color: #7dc9f5;
}
form {
  margin: auto;
  position: relative;
  background-color: #F5E3DC;
}
.select_first {
  top: 21px;
}
.select_second {
  top: 80px;
}
time {
  color: #999;
  font-size: 80%;
}
article {
  margin-top: 30px;
}
/* プルダウンメニュー */
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl05 {
	position: relative;
	border-radius: 2px;
  border-radius: 50px;
  background: #F58962;
}
.cp_ipselect.cp_sl05::before {
  position: absolute;
  /* position: relative; */
	top: 2.5em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}
.cp_ipselect.cp_sl05 select {
	padding: 8px 38px 8px 8px;
	color: #ffffff;
}
/* ボタン */
.btn--pink,
a.btn--pink {
  color: #fff;
  background-color: #F58962;
}
.return {
  margin-left: auto;
  margin-right: auto;
}
.return_block {
  padding: 10px 0 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 555px;
}
@media screen and (max-width: 555px) {
  .return_block {
    width: 95%;
  }
}
.sb {
  display: block;
  margin-left: 70%;
}
.btn--pink:hover,
a.btn--pink:hover {
  color: #fff;
  background: #ecaaaa;
}
/* テーブル */
.table6 {
  max-width: 555px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
  .table6 {
    width: 95%;
  }
}
.table6 th {
  width:25%;
  padding:10px;
  text-align: left;
  color: #444;
  background-color: #F5E3DC;
  border-left: 3px double #999;
  border-top: 1px solid #fff;
  border-right: 1px solid #999;
  border-bottom: 1px solid #ccc;
}
.table6 td {
  width:75%;
  padding:10px;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.table6 .restaurant_name{
  background-color: #F58962;
}