@import url(bootstrap.min.css);

body,
pre {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, sans-serif;
}
header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #7dc9f5
}
header h1 {
  font-size: 100%;
  margin-top: 30px;
}
header h1 span {
  display: block;
}
main {
  margin-left: auto;
  padding: 10px 100px;
}
main h2 {
  font-size: 120%;
  text-shadow: 1px 1px 3px #999;
}
main h2 img {
  height: 1em;
}
pre {
  min-height: 100px;
  padding: 10px;
  background-color: #e3f2ff;
  box-shadow: 1px 1px 5px #eee;
  width: 540px;
}
hr {
  border-color: #7dc9f5;
}
.content {
  margin-top: 30px;
}
form {
  margin-top: 50px;
}
time {
  color: #999;
  font-size: 80%;
}
article {
  margin-top: 30px;
}
/* プルダウンメニュー */
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl05 {
	position: relative;
	border-radius: 2px;
  border-radius: 50px;
	background: #7dc9f5;
}
.cp_ipselect.cp_sl05::before {
  position: absolute;
  /* position: relative; */
	top: 2.5em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}
.cp_ipselect.cp_sl05 select {
	padding: 8px 38px 8px 8px;
	color: #ffffff;
}
/* ボタン */
.btn--pink,
a.btn--pink {
  color: #fff;
  background-color: #e45cc2;
}
.btn--pink:hover,
a.btn--pink:hover {
  color: #fff;
  background: #eba3d9;
}
/* テーブル */
.table6 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.table6 th {
  width:25%;
  padding:10px;
  text-align: left;
  color: #444;
  background-color: #e3f2ff;
  border-left: 3px double #999;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.table6 td {
  width:75%;
  padding:10px;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.table6 .restaurant_name{
  background-color: #7dc9f5;
}